<form [formGroup]= 'myForm' class="example-form" (ngSubmit)="onSubmit()"  >


  <table class="example-full-width" cellspacing="0"><tr>
    <tr><p>
    <mat-form-field class="example-full-width">
      <mat-label>שם פרטי</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    </p> </tr>
    <p><tr>
      <mat-form-field class="example-full-width">
        <mat-label>שם משפחהי</mat-label>
        <textarea matInput formControlName="lastname"></textarea>
      </mat-form-field>

</tr>
</p>
  </table>

  <p>
    <mat-form-field class="example-full-width">
      <mat-label> <p>טלפון</p></mat-label>
      <textarea matInput ></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>כתובת אימייל</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <tr><td><mat-form-field class="example-full-width">
      <mat-label>עיר</mat-label>
      <input matInput placeholder="Ex. San Francisco">
    </mat-form-field></td>
    <!-- <td><mat-form-field class="example-full-width">
      <mat-label>State</mat-label>
      <input matInput placeholder="Ex. California"> -->
    <!-- דד -->
  </tr>
    <td><mat-form-field class="example-full-width">
      <mat-label> סיסמת משתמש</mat-label>
      <input matInput #postalCode maxlength="5" formControlName="pass"

      >
      <mat-hint align= "end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field></td>
  </table>
</form>
<button type="submit" >ok</button>
<button type="button" (click)="logFormGroup()">formGroup</button>
<button type="button" (click)="logFormControl()">formControl</button>
<button (click)="formReset()">reset</button>

<div *ngFor="let item of arrUsers">
  <p> id={{item.lastName}} </p>
  <p>pass={{item.userName}}</p>

</div>

